/* General Styles */
/* General Styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #ffffff;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: #ff6347;
    transition: color 0.3s;
}

a:hover {
    color: #ffa07a;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header Styles */
header {
    background-color: #c70e0e;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s;
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img { /* Logo Height*/
    height: 90px;
    margin-right: 10px;
}

header .logo .membership-about {
    font-size: 1.5em;
    font-weight: 600;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 60px;
}

header nav ul li a { /* Navegation bar */
    color: #ffffff;
    font-size: 0.9em;
    transition: color 0.3s;
}

header nav ul li a:hover {
    color: #ff6347;
}
/* Meet the Committee Section */
.meet-the-committee {
    text-align: center;
    background-color: #ffffff;
    border-bottom: 2px solid #ff6347;
    padding: 60px 0;
}

.meet-the-committee h1 {
    font-size: 3em;
    color: #ff6347;
    margin-bottom: 20px;
    animation: fadeIn 2s ease-in-out;
}

.meet-the-committee p {
    font-size: 1.2em;
    color: #070707;
    animation: fadeIn 2s ease-in-out;
}

/* Committee Members Section */
.committee-members {
    
    background: #1e1e1e;
    padding: 60px 0;
}

.committee-members h2 {
    font-size: 2em;
    text-align: center;
    color: #ff6347;
    margin-bottom: 40px;
}

.members {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.member {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    transition: transform 0.3s;
    width: 300px;
}

.member img {
    border-radius: 50%;
    margin-bottom: 10px;
    width: 150px;
    height: 150px;
    object-fit: cover;
    animation: fadeIn 1.5s;
}

.member h3 {
    margin: 10px 0;
    color: #ff6347;
    font-size: 1.5em;
}

.member p {
    margin: 10px 0;
    font-size: 1em;
    color: #ffffff;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Hover Effects */
.member:hover {
    transform: scale(1.05);
}

/* Media Queries */
@media (max-width: 768px) {
    header .container {
        flex-direction: column;
        align-items: center;
    }

    .members {
        flex-direction: column;
        align-items: center;
    }

    .meet-the-committee h1 {
        font-size: 2.5em;
    }

    .meet-the-committee p {
        font-size: 1em;
    }

    .member {
        width: 90%;
    }
}
